* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: #0a192f;
}

.navBar {
  height: 10vh;
  width: 100%;
  background-color: #0a192f;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #64ffda;
  font: arial;
}

nav u1 li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav u1 li a {
  text-decoration: none;
  color: white;
  font-style: bold;
}
nav u1 li a:hover {
  color: #64ffda;
}
button {
  border: none;
  background-color: transparent;
  padding: 12px 30px;
  line-height: normal;
  color: #64ffda;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;
  border: 1px solid #64ffda;
  cursor: pointer;
  margin-left: 20px;
}
button:hover {
  color: black;
  transform: scale(1.1);
}
nav div span button .test {
  text-decoration: none;
}

.intro {
  padding: 8% 15%;
  width: 70%;
}
.intro p {
  color: #64ffda;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}
.intro .deets {
  color: #a8b2d1;
  width: 120%;
  display: inline-block;
  margin-top: 30px;
}
.intro h1 {
  color: white;
  font-size: 100px;
  width: 110%;
}
.intro .deets a {
  color: #64ffda;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;
}
.intro .deets a:hover {
  text-decoration: underline;
}
